body {
    background-color: rgba(141,140,171,255);
}
/*.linktree_container {
    background-color: #8d8cab;
}*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 40%;
  }
  h1, h4{
    text-align: center;
  }

    
.buttons_container{
    display: grid;
   align-items: center;
   justify-content: center;
}
button {
  border: 2px solid #8d5439;
  border-radius: 12px;
  width: 250px;
  padding: 15px 32px;
  margin: 15px 32px;
  cursor: pointer;
}
a {
  text-decoration: none;
  font-size: 20px;
}
/*.first_button_container{
    border: 2px solid #8d5439;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 12px;
    padding: 32px 16px;
}*/


/* For first button*/
.first_button {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.first_button:hover,
.first_button:active {
  outline: 0;
}

.first_button:hover {
  background-color: transparent;
}

.first_button:before {
  background-color:white;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 100ms ease-in;
  width: 100%;
  z-index: -1;
  border-radius: 12px;
}

.first_button:hover::before {
  background-color: silver;
}
/*.first_button:before {
  background-color: silver;
}*/


@media (min-width: 768px) {
  .first_button {
    padding: 16px 32px;
  }
}

/*for second button*/
.second_button {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.second_button:hover,
.second_button:active {
  outline: 0;
}

.second_button:hover {
  background-color: transparent;
}

.second_button:before {
  background-color:white;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 100ms ease-in;
  width: 100%;
  z-index: -1;
  border-radius: 12px;
}

.second_button:hover::before {
  background-color: silver;
}
/*.second_button:before {
  background-color: silver;
}*/

@media (min-width: 768px) {
  .second_button {
    padding: 16px 32px;
  }
}
/*for third button*/
.third_button {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.third_button:hover,
.third_button:active {
  outline: 0;
}

.third_button:hover {
  background-color: transparent;
}

.third_button:before {
  background-color:white;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 100ms ease-in;
  width: 100%;
  z-index: -1;
  border-radius: 12px;
}
.third_button:hover::before {
  background-color: silver;
}
/*.third_button:before {
  background-color: silver;
}*/

@media (min-width: 768px) {
  .third_button {
    padding: 16px 32px;
  }
}

/*for forth button*/
.forth_button {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.forth_button:hover,
.forth_button:active {
  outline: 0;
}

.forth_button:hover {
  background-color: transparent;
}

.forth_button:before {
  background-color:white;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 100ms ease-in;
  width: 100%;
  z-index: -1;
  border-radius: 12px;
}
.forth_button:hover::before {
  background-color: silver;
}
/*.forth_button:before {
  background-color: silver;
}*/

@media (min-width: 768px) {
  .forth_button {
    padding: 16px 32px;
  }
}






